name: LWJGL Build

on:
  workflow_dispatch:
  push:
    branches:
      - master

env:
  AWS_DEFAULT_REGION: us-east-1
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  S3_PARAMS: --cache-control "public,must-revalidate,proxy-revalidate,max-age=0"

jobs:
  linux:
    name: Linux
    runs-on: ubuntu-latest
    container:
      image: almalinux:8
    strategy:
      fail-fast: false
      matrix:
        ARCH: [ x64 ]
        include:
          - ARCH: x64
            HOST: x86_64-pc-linux-gnu
    defaults:
      run:
        shell: bash
    steps:
      - name: Install git
        run: dnf -y install git
      - name: Clone repository
        run: git clone --depth 3 https://github.com/${{ github.repository }}.git .
      - name: Install build dependencies
        run: |
          dnf -y install epel-release wget
          wget https://pkgs.sysadmins.ws/el8/base/x86_64/raven-release-1.0.1-1.el8.noarch.rpm
          rpm -ivh raven-release-1.0.1-1.el8.noarch.rpm
          dnf config-manager --set-enabled powertools
          dnf config-manager --set-enabled raven-extras
          dnf -y update
          dnf -y install gcc-toolset-15-gcc gcc-toolset-15-gcc-c++ autoconf automake libtool awscli
      - name: Configure build
        run: |
          source /opt/rh/gcc-toolset-15/enable || true
          ./autogen.sh
          CFLAGS="-g0 -O2 -U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=0" ./configure --host=${{matrix.HOST}}
      - name: Build
        run: |
          source /opt/rh/gcc-toolset-15/enable || true
          make -j8
          strip hwloc/.libs/libhwloc.so
      - name: Upload artifact
        run: aws s3 cp hwloc/.libs/libhwloc.so s3://lwjgl-build/nightly/linux/${{matrix.ARCH}}/ ${{env.S3_PARAMS}}
      - name: Upload git revision
        run: |
          git config --global --add safe.directory $PWD
          git log --first-parent --pretty=format:%H HEAD~2..HEAD~1 > libhwloc.so.git
          aws s3 cp libhwloc.so.git s3://lwjgl-build/nightly/linux/${{matrix.ARCH}}/ ${{env.S3_PARAMS}}

  linux-cross:
    name: Linux Cross
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        ARCH: [arm32, arm64, ppc64le, riscv64]
        include:
          # -----
          - ARCH: arm32
            CROSS_ARCH: armhf
            TRIPLET: arm-linux-gnueabihf
            HOST: arm-unknown-linux-gnueabihf
          # -----
          - ARCH: arm64
            CROSS_ARCH: arm64
            TRIPLET: aarch64-linux-gnu
            HOST: aarch64-unknown-linux-gnu
          # ----
          - ARCH: ppc64le
            CROSS_ARCH: ppc64el
            TRIPLET: powerpc64le-linux-gnu
            HOST: powerpc64le-unknown-linux-gnu
          # ----
          - ARCH: riscv64
            CROSS_ARCH: riscv64
            TRIPLET: riscv64-linux-gnu
            HOST: riscv64-unknown-linux-gnu
    env:
      LWJGL_ARCH: ${{matrix.ARCH}}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 3
      - name: Install build dependencies
        run: |
          DEBIAN_FRONTEND=noninteractive sudo apt-get -yq update
          DEBIAN_FRONTEND=noninteractive sudo apt-get -yq install awscli autoconf make libtool \
            gcc-12-${{matrix.TRIPLET}} \
            libc6-dev-${{matrix.CROSS_ARCH}}-cross
      - name: Configure build
        run: |
          export PKG_CONFIG_LIBDIR="/usr/lib/${{matrix.TRIPLET}}/pkgconfig:/usr/share/pkgconfig"
          ./autogen.sh
          CC=${{matrix.TRIPLET}}-gcc-12 CFLAGS="-g0 -O2 -U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=0" ./configure --host=${{matrix.HOST}}
      - name: Build
        run: |
          make -j8
          ${{matrix.TRIPLET}}-strip hwloc/.libs/libhwloc.so
      - name: Upload artifacts
        run: aws s3 cp hwloc/.libs/libhwloc.so s3://lwjgl-build/nightly/linux/${{matrix.ARCH}}/ ${{env.S3_PARAMS}}
      - name: Upload git revision
        run: |
          git config --global --add safe.directory $(pwd)
          git log --first-parent --pretty=format:%H HEAD~2..HEAD~1 > libhwloc.so.git
          aws s3 cp libhwloc.so.git s3://lwjgl-build/nightly/linux/${{matrix.ARCH}}/ ${{env.S3_PARAMS}}

  freebsd-cross:
    name: FreeBSD Cross
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 3
      - name: Build
        uses: cross-platform-actions/action@v0.32.0
        with:
          operating_system: freebsd
          architecture: x86-64
          version: '13.5'
          memory: 4G
          shell: bash
          run: |
            sudo pkg install -y autoconf automake libtool gmake
            ./autogen.sh
            CFLAGS="-g0 -O2 -U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=0" ./configure --host=x86_64-unknown-freebsd13.2
            gmake -j4
            strip hwloc/.libs/libhwloc.so
      - name: Upload artifact
        run: aws s3 cp hwloc/.libs/libhwloc.so s3://lwjgl-build/nightly/freebsd/x64/ ${{env.S3_PARAMS}}
      - name: Upload git revision
        run: |
          git config --global --add safe.directory $PWD
          git log --first-parent --pretty=format:%H HEAD~2..HEAD~1 > libhwloc.so.git
          aws s3 cp libhwloc.so.git s3://lwjgl-build/nightly/freebsd/x64/ ${{env.S3_PARAMS}}

  macos:
    name: macOS
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        ARCH: [x64, arm64]
        include:
          - ARCH: x64
            DARWIN: 15
            CC: MACOSX_DEPLOYMENT_TARGET=10.11 CFLAGS="-g0 -O2 -target x64-apple-darwin -arch x86_64 -mmacosx-version-min=10.11" LDFLAGS="-target x64-apple-darwin -arch x86_64 -mmacosx-version-min=10.11"
            HOST: x86_64
          - ARCH: arm64
            DARWIN: 20
            CC: MACOSX_DEPLOYMENT_TARGET=11.0 CFLAGS="-g0 -O2 -target aarch64-apple-darwin -arch arm64 -mmacosx-version-min=11.0" LDFLAGS="-target aarch64-apple-darwin -arch arm64 -mmacosx-version-min=11.0"
            HOST: aarch64
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 3
      - name: Install dependencies
        run: brew install automake libtool
      - name: Configure build
        run: |
          ./autogen.sh
          ${{matrix.CC}} ./configure --target ${{matrix.HOST}}-apple-darwin${{matrix.DARWIN}} --host=${{matrix.HOST}}-apple-darwin${{matrix.DARWIN}}
      - name: Build
        run: |
          make -j8
          strip -u -r hwloc/.libs/libhwloc.dylib
      - name: Upload artifacts
        run: |
          aws s3 cp hwloc/.libs/libhwloc.dylib s3://lwjgl-build/nightly/macosx/${{matrix.ARCH}}/ ${{env.S3_PARAMS}}
      - name: Upload git revision
        run: |
          git log --first-parent --pretty=format:%H HEAD~2..HEAD~1 > libhwloc.dylib.git
          aws s3 cp libhwloc.dylib.git s3://lwjgl-build/nightly/macosx/${{matrix.ARCH}}/ ${{env.S3_PARAMS}}

  windows:
    name: Windows
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        ARCH: [x86, x64, arm64]
        include:
          - ARCH: x86
            PLATFORM: Win32
            VCTOOLS: x86.x64
          - ARCH: x64
            PLATFORM: x64
            VCTOOLS: x86.x64
          - ARCH: arm64
            PLATFORM: ARM64
            VCTOOLS: ARM64
    defaults:
      run:
        shell: cmd
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 3
      - name: Install Visual Studio 2026 Build Tools
        shell: pwsh
        run: |
          choco install cmake
          choco install visualstudio2026buildtools --package-parameters "`
            --add Microsoft.VisualStudio.Workload.VCTools `
            --add Microsoft.VisualStudio.Component.VC.Tools.${{matrix.VCTOOLS}} `
            --includeRecommended `
            --quiet" `
            -y `
            --ignore-package-exit-codes=3010
      - name: Configure build
        #-T ClangCL
        # -DCMAKE_C_FLAGS_RELEASE="/MT /EHsc /Ox /GF /Gy /GS- /DNDEBUG" -DCMAKE_SHARED_LINKER_FLAGS_RELEASE="/OPT:REF,ICF /INCREMENTAL:NO"
        run: cmake -B build -G "Visual Studio 18 2026" -A ${{matrix.PLATFORM}} -DHWLOC_ENABLE_TESTING=OFF -DHWLOC_SKIP_LSTOPO=ON -DHWLOC_SKIP_TOOLS=ON -DHWLOC_SKIP_INCLUDES=ON -DHWLOC_WITH_OPENCL=OFF -DHWLOC_WITH_CUDA=OFF -DBUILD_SHARED_LIBS=ON -DCMAKE_MSVC_RUNTIME_LIBRARY="MultiThreaded$<$<CONFIG:Debug>:Debug>" contrib/windows-cmake
      - name: Build
        run: cmake --build build --parallel --config Release --verbose
      - name: Upload artifacts
        run: aws s3 cp build\Release\hwloc.dll s3://lwjgl-build/nightly/windows/${{matrix.ARCH}}/ ${{env.S3_PARAMS}}
      - name: Upload git revision
        run: |
          git log --first-parent --pretty=format:%%H HEAD~2..HEAD~1 > hwloc.dll.git
          aws s3 cp hwloc.dll.git s3://lwjgl-build/nightly/windows/${{matrix.ARCH}}/ ${{env.S3_PARAMS}}
